@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Teko:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");

.mainapp {
  font-family: "Varela", sans-serif;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: black;

  h1 {
    color: #49c5b9e1;
    letter-spacing: 1.5px;
    margin: 0;
    padding: 0;
    font-size: 1em;
    margin-top: 55px;
  }

  h4 {
    color: #6ad5ca;
    letter-spacing: 1.5px;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    margin-top: 10px;
  }

  h3 {
    color: #6ad5cb;
  }

  .stocks {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    align-items: center;
    border: solid rgba(146, 250, 155, 0.246) 3px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 15px;

    h6 {
      margin: 0;
      padding: 5px;
      color: #84f3bc;
      font-size: 1em;
    }
  }

  .theBots {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 25px;

    h4 {
      color: white;
      font-size: 2em;
      letter-spacing: 2px;
      margin: 0;
      padding: 0;
    }

    h5 {
      color: rgb(100, 246, 56);
      font-size: 2.7em;
      margin: 0;
      padding: 0;
      letter-spacing: 2px;
    }

    h6 {
      font-size: 3.6em;
      margin: 0;
      padding: 0;
      margin-top: -5px;
    }

    .dawn {
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-right: 15px;
    }

    .burst {
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-left: 2px solid rgba(255, 255, 255, 0.349);
      padding-left: 15px;
    }
  }

  .excludeForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;

    h1 {
      margin-top: 25px;
    }
    ul {
      width: 80%;

      li {
        color: white;
        margin-bottom: 8px;
        font-size: 0.8em;
      }
    }
  }
  input {
    padding: 5px 15px;
    font-family: "Varela", sans-serif;
    color: red;
    font-size: 1.1em;
    outline: none;
  }

  button {
    background: rgb(184, 20, 20);
    color: white;
    font-family: "Varela", sans-serif;
    padding: 3px 15px;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    font-size: 1.3em;
    letter-spacing: 1.5px;
    box-shadow: inset 3px 4px 5px rgba(0, 0, 0, 0.26);
    margin-top: 15px;
  }

  h3 {
    width: 80%;
    font-size: 1em;
    color: red;
    text-align: center;

    span {
      color: pink;
    }
  }

  #logout {
    background: rgb(184, 20, 20);
    font-size: 0.7em;
    opacity: 0.8;
  }
}
